@page
@model Mobicon.Pages.SegmentModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>
    function onImportClick() {
        $('#importModal').modal('show');
    }
</script>


<div class="modal" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import</h5>
            </div>

            <form method="post" asp-page-handler="import" class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2" name="name">
                <input type="hidden" name="id" value="@Model.Request.Query["id"]">
                <br/>
                
                <textarea class="form-control" rows="5" name="data"></textarea>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Go on!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center">
    <h2>Segment configs <span class="badge badge-info">@Model.Configs.Length</span></h2>
    <div class="d-flex">
        <buton class="btn btn-secondary import-form" onclick="onImportClick()">Import config</buton>
        <form method="post" class="d-flex justify-content-end">
            <div class="input-group add-list-item">
                <input type="text" name="configName" required placeholder="Enter config name" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add config</button>
                </div>
            </div>
        </form>
    </div>
</div>

<ul class="list-group items-list">
    @{
        foreach (var config in Model.Configs)
        {
            <li class="list-group-item list-group-item-action">
                <a href="/Config?id=@config.Id">@config.Name</a>
                <span>with @config.Entries.Count entries</span>
            </li>
        }
    }
</ul>

<style>
    .import-form {
        margin-right: 36px;
    }
</style>
