@page
@model Mobicon.Pages.SegmentsModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Segments";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Segments list <span class="badge badge-info">@Model.Segments.Length</span></h2>
    <form method="post" class="d-flex justify-content-end">
        <div class="input-group add-list-item">
            <input type="text" name="segmentName" required placeholder="Enter segment name" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Add segment</button>
            </div>
        </div>
    </form>
</div>

<ul class="list-group items-list">
    @{
        foreach (var segment in Model.Segments)
        {
            <li class="list-group-item list-group-item-action">
                <a href="/Segment?id=@segment.Id">@segment.Name</a> 
                <span>with @segment.Configs.Count configs</span>
            </li>
        }
    }
</ul>