@page
@model Mobicon.Pages.SegmentModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>
    function onImportClick() {
        $('#importModal').modal('show');
    }
</script>


<div class="modal" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import</h5>
            </div>

            <form method="post" asp-page-handler="import" class="form-inline">
                <input type="text" class="form-control mb-2 mr-sm-2" name="name">
                <input type="hidden" name="id" value="@Model.Request.Query["id"]">
                <br/>
                
                <textarea class="form-control" rows="5" name="data">
                </textarea>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Go on!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ul class="list-group">
    @{
        foreach (var config in Model.Configs)
        {
            <li class="list-group-item list-group-item-action">
                <a href="/Config?id=@config.Id">@config.Name</a>
            </li>
        }
    }
</ul>


<form method="post">
    <div class="input-group">
        <input type="text" name="configName" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Create new config</button>
        </div>
    </div>


</form>
<form>
    <buton class="btn btn-success" type="button" onclick="onImportClick()">Import</buton>
</form>
