/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
html, body {
    width: 100%;
    height: 100%;
}

.view-content {
    padding: 24px 16px;
    height:calc(100% - 62px);
    overflow: auto;;
}

.add-list-item {
    width: 400px;
}

h2, h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.modal-footer .btn {
    min-width: 125px;
}

.empty-data {
    margin-top: 50px;
    text-align: center;
}

.empty-data img {
    width: 450px;
    object-fit: contain;
}

.bootstrap-select .filter-option-inner-inner {
    color: #495057;
}

.bootstrap-select .dropdown-toggle.bs-placeholder .filter-option-inner-inner {
    color: #6c757d;
}

.bootstrap-select .dropdown-toggle {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem
}

.delete-confirmation-modal {
    width: 400px;
}

.view-header + .items-list {
    margin-top: 24px;
    max-height: calc(100% - 65px);
    overflow: auto;
    margin-bottom: 0;
}

.view-header {
    flex-shrink: 0;
}

.accordion .card:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.typeahead .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis
}

.table td {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.height-100 {
    height: 100%;
}

.controls-section {
    align-items: center;
    white-space: nowrap;
    margin-left: 36px;
}

.table-sm td, .table-sm th {
    padding: 0.45rem;
}
    /* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.no-padding {
    padding: 0!important;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
